<!DOCTYPE html>
<html lang="en-us">

<head>
    {% block head %}
    <title>Krugers Boil</title>
    
    <meta charset="utf-8">
    <meta name="description" content="Boilerplate for GAE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
    <link rel="stylesheet" href="css/style.css">
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    {% endblock %}
</head>

<body>
    <div id="container">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>
